Source: tcpser
Section: net
Priority: optional
Maintainer: Peter Collingbourne <pcc03@doc.ic.ac.uk>
Build-Depends: debhelper (>= 9)
Homepage: http://www.jbrain.com/pub/linux/serial/
Vcs-Bzr: http://bzr.debian.org/collab-maint/tcpser/unstable/
Standards-Version: 3.9.3

Package: tcpser
Architecture: any
Depends: ${shlibs:Depends}
Description: emulate a Hayes compatible modem
 TCPSER turns a PC serial port into an emulated Hayes compatible modem that 
 uses TCP/IP for incoming and outgoing connections.  It can be used to allow 
 older applications and systems designed for modem use to operate on the
 Internet.  TCPSER supports all standard Hayes commands, and understands
 extended and vendor proprietary commands (though it does not implement
 many of them).  TCPSER can be used for both inbound and outbound connections.
